
.margin-all-md {
    margin: 20px;
}

.margin-top-sm {
    margin-top: 10px;
}

.margin-top-md {
    margin-top: 20px;
}

.margin-bottom-sm {
    margin-bottom: 20px;
}

.margin-right-xs {
    margin-right: 5px;
}

.margin-right-sm {
    margin-right: 10px;
}

.margin-left-sm {
    margin-left: 5px;
}

.margin-left-md {
    margin-left: 10px;
}

.margin-left-lg {
    margin-left: 30px;
}


.margin-left-xs {
    margin-left: 5px;
}

.padding-sm {
    padding: 5px;
}

.padding-md {
    padding: 10px;
}

.padding-lg {
    padding: 20px;
}

.rounded {
    border-radius: 5px;
}

.lighter-text {
    color: #74828F;
}

.grey-out {
    color: #74828F;
}

.core-heading {
    background: #74828F !important;
    color: white;
    border-color: #74828F !important;
}

.core-border {
    border-color: #74828F !important;
}


.jumbotron {
    background: #AEA8D3 !important;
}

#header {
    text-align: center;
}

#header h1 {
    letter-spacing: 5px;
}

#header p {
    font-size: 20px;
    font-style: italic;
}

#github {
    display: inline-block;
    background: #C2BEDF;
    margin: auto;
    border-radius: 6px;
    padding: 2px;
    cursor: pointer;
}

#github img {
    width: 25%;
}

#github span {
    color: black;
    margin-left: 5px;
}



.glyphicon-md {
    font-size: 18px !important;
}

.positive {
    background-color: #579662 !important;
}

.negative {
    background-color: #A95C5C !important;
}

.neutral {
    background-color: black !important;
}

#sort-collapse-glyph {
    font-size: 1.7em;
}

#sort-collapse-glyph:hover {
    cursor: pointer;
}

.dropdown li:hover {
    background-color: lightgray;
    cursor: pointer;
}

.inline-default {
    display: inline-block !important;
}



#refresh-comments-warning div * {
    display: inline-block;
}

#refresh-comments-warning > div > span {
    color: red;
    font-size: 20px;
    margin-right: 2px;
}

#refresh-comments-warning div {
    font-size: 14px;
}

#refresh-comments-warning > div > div > span {
    margin-left: 5px;
    text-decoration: underline;
    cursor: pointer;
}

.badge {
    font-size: 14px;
}

textarea {
    resize: vertical;
}

.enabled-icon {
    font-size: 17px;
    color: #579662;
}

#message-textarea {
    width: 100%;
    height: 80%;
    word-wrap: break-word;
    overflow-y:  auto;
    overflow-x:  hidden;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.top-border {
    border-top: 1px solid lightgray;
}

.bottom-border {
    border-bottom: 1px solid lightgray;
}

.position-relative {
    position: relative;
}

.absolute-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.hoverable-cursor:hover {
    cursor: pointer
}

.wait-cursor {
    cursor: not-allowed
}

#sort-option-container > div {
    display: inline-block;
}

#sort-option-container > div:nth-child(n + 2) {
    margin-left: 100px
}

.message-title {
    font-weight: bold;
    font-size: 22px;
}

.message-metadata {
    font-style: italic;
}

.submit-error {
    color: red;
}

.submit-error > span {
    font-size: 15px;
}

.report-submitted {
    border: 1px solid #D2D2D2;
    background-color: #EBEBEB;
    border-radius: 15px;
    text-align: center;
    color: black;

    animation: fadeout;
    animation-duration: 5s;
}

.smaller-alert {
    margin: 10px 50px 10px 50px;
}

.hide {
    display: none;
}


.spinning-gylphicon {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}


#notification-bar {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    width: 100%;
    background: #C25B56;

    font-size: 20px;
    text-align: center;
    color: white;

    animation-duration: 1s;
    animation-delay: 0.4s;
}

#notification-bar > div {
    position: relative;
    top: 6px;
}


#under-moderator-review {
    color: #C25B56;
}

#under-moderator-review p {
   display: inline-block;
}



#authorNameFilterOption {
    border-bottom: 1px solid lightgray;
}

#authorNameFilterOption p:nth-child(1) {
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 2px;
}

#authorNameFilterOption p:nth-child(2) {
    color: #C25B56;
    font-size: 12px;
    font-style: italic;
    padding: 0;
    margin: 0;
}

#authorNameFilterOption p:nth-child(3) {
    color: #74828F;
    font-size: 12px;
    font-style: italic;
    padding: 0;
    margin: 0;
}


.with-fadeout {
    animation-duration: 10s;
    animation-name: fadeout;
}

.with-fadein {
    animation: fadein 1s;
}

@keyframes fadeout {
    from {  opacity: 1;  }
    to {  opacity: 0; }
}

@keyframes fadein {
    from {  opacity: 0;  }
    to {  opacity: 1;  }
}


/* Experimental animations */

.slideOut {
    animation: slideOut 2s;
}

.slideIn {
    animation: slideIn 2s;
}

@keyframes slideOut {
    0% {
        transform: translate(0, -40px)
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes slideIn {
    0% {
        transform: translate(0, 0)
    }
    100% {
        transform: translate(0, -40px);
    }
}

@keyframes slider {
    0% {
        transform: translate(0, -40px)
    }
    50% {
        transform: translate(0, 0px)
    }
    100% {
        transform: translate(0, -40px);
    }
}

